@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: auto;
  background: #222733;
  font-family: 'poppins', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 10px 0;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 10px 0;
  font-weight: normal;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin: 10px 0;
  font-weight: normal;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 10px 0;
  font-weight: normal;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin: 10px 0;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  line-height: 1.125rem;
  margin: 10px 0;
  font-weight: normal;
}

p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 10px 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

.container {
  max-width: 1366px;
  padding: 56px 7%;
  /* height: 1655px; */
  height: auto;
}

/*    navigation bar     */

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 7%;
  display: flex;
  /* flex-flow: row nowrap; */
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 56px;
  background: rgba(82, 94, 101, 1);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: auto;
}

nav ul li {
  margin: 0 0 0 2vw;
}

.line-w {
  width: calc(100vw - 20vw);
  margin: 0px 0 40px 0;
  height: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

@media screen and (max-width: 320px) {
  nav {
    padding: 0 3%;
  }
}

/*     main section     */

main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main div {
  width: 100%;
  margin: 10px 0;
}

main .blogs1,
main .blogs2 {
  display: grid;
  /* flex-flow: row wrap;*/
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 6vw;
}

.blogs1 div a,
.blogs2 div a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.blogs1 div img,
.blogs2 div img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.blogs1 div h4,
.blogs2 div h4 {
  text-align: center;
  /* margin: 0; */
}

main > img {
  width: 30%;
  min-width: 200px;
  margin-top: 30px;
}

@media screen and (max-width: 420px) {
  main .blogs1,
  main .blogs2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 3vw;
  }
}

@media screen and (max-width: 1024px) {
  body,
  html {
    font-size: 97% !important;
  }
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 95% !important;
  }
}

@media screen and (max-width: 714px) {
  body,
  html {
    font-size: 90% !important;
  }

  main .titleBox {
    width: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-width: 425px) {
  body,
  html {
    font-size: 85% !important;
  }
}

@media screen and (max-width: 375px) {
  body,
  html {
    font-size: 67% !important;
  }
}

@media screen and (max-width: 320px) {
  body,
  html {
    font-size: 60% !important;
  }
}
