@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');
@import url('./global.css');
@import url('./navbar.css');
@import url('./media-screen.css');

/*    main section    */

main{
  max-width: 1366px;
  height: calc( 100vh - 56px );
  margin-top: 56px;
  background: #222733;
  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
    "f h";
  align-items: center;
  padding: 0 20px;
}

.background-circle{
  position: absolute;
  width: 755px;
  height: 755px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.22);
  transform-origin: center;
  top: calc( (100% - 755px) / 2);
  left: calc( (100% - 755px) / 2);
  z-index: 0;
}


/*     form stylings    */

form{
  grid-area: f;
  z-index: 1;
  font-size: 14px;
}

form .container {
  max-width: 365px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 19px;
}

form label{
  display: block;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.095em;
  color: #C4C4C4;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  height: 35px;
  background: #E5E5E5;
  border-radius: 5px;
  padding: 10px;
}

form textarea{
  width: 100%;
  height: 142px;
  background: #E5E5E5;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding: 10px;
}

form button {
  height: 50px;
  background: #E5E5E5;
  border-radius: 5px;
  font-size: 22px;
  /* line-height: 36px; */
  color: #000000;
  text-align: center;
  font-weight: bold;
  appearance: none;
  outline: none;
  border: none;
}

/*     header  message  styling    */

header{
  grid-area: h;
  max-width: 474px;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

header h1{
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.08rem;
  color: #FFFFFF;
  text-align: center;
}

header p {
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  max-width: 80%;
  margin: 0 auto;
}

.line-w {
  width: 100%;
  margin: 0px auto 35px auto;
  height: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

/*     foooter styling   */

footer{
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

/*   validators   */

.email-validator, .general-validator{
  text-align: center;
  color: rgb(158, 55, 8);
  width: 100%;
  margin-top: 10px;
}

.success{
  background-color: rgb(27, 134, 6);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 1fr;
  padding: 10px 0;
  margin: 5px 0;
  transform: none !important;
  box-shadow: none !important;
  cursor: not-allowed;
}

@media screen and (max-width: 787px) {
  main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
      "h"
      "f";
    height: fit-content;
    overflow: hidden;
    padding: 60px 20px;
  }

  .background-circle{
    top: calc( (100% - 755px) / 2 + 56px);
  }
  form{
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@import url('./media-screen.css')
