/*      aside section     */

main aside {
  background: rgba(82, 94, 101, 1);
  width: 300px;
  height: calc(100vh - 56px);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  margin-top: 56px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

main aside section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

main aside h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold !important;
}

main aside > section img {
  width: clamp( 120px, 40%, 200px);
  align-self: center;
}

main aside div {
  width: 80%;
  margin: 5px auto;
  display: flex;
  align-items: center;
}

main aside .aside-card {
  width: 100%;
  background: #222733;
  border: 1px solid #465058;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  padding: 5px 0;
}

main aside .aside-card * {
  margin: 10px auto;
}

.aside-card:hover{
  transform: scaleX(1.1);
}

@media screen and (max-width: 768px) {
  main aside {
    width: 100%;
    height: max-content;
    position: static;
    padding: 5px 0;
    margin-top: 56px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  main aside section {
    padding: 0 10px;
    padding-bottom: 20px;
  }

  main aside div h3 {
    font-size: 24px;
  }

  main aside > section img{
    margin-top: 20px;
  }
  
}