
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');
@import url("./global.css");
@import url("./navbar.css");
@import url("./media-screen.css");
@import url("./dashboard-aside.css");

.line-w {
  width: 150px;
  margin: 0px auto 40px auto;
  height: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

/*     main section     */

main {
  margin-top: 56px;
  width: 100%;
  min-height: calc(100vh - 56px);
}

@media screen and ( min-width: 768px) {
  main{
    padding-left: 300px;
  }
}


/*    body section     */

.body {
  width: 100%;
  height: max-content;
}

.body .title {
  width: 100%;
}

.body .title h4 {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.fetch-status{
  display: none;
  width: 1fr;
  height: 32px;
  margin: 3vw 7vw;
  background: rgb(27, 134, 6);
  border-radius: 5px;
}

.fetch-status p{
  width: 100%;
  text-align: center;
  line-height: 32px;
}

.body .blog-box {
  display: flex;
  align-items: center;
  width: 1fr;
  margin: 3vw 7vw;
  background: #c4c4c4;
  border-radius: 5px;
}

.body .blog-box div {
  display: flex;
  flex-flow: row nowrap;
  width: 94%;
  height: 32px;
  margin-left: 3%;
  margin-right: 2%;
  background: #222733;
  border-radius: 5px;
  align-items: center;
}

.body .blog-box div p {
  margin: auto 0 auto 2vw;
  cursor: pointer;
  /* text-align: center; */
}

.body .blog-box .edit {
  width: 25px;
  margin: 5px 0;
}


.body .blog-box .delete {
  width: 35px;
  margin: 5px 0;
}

.body .blog-box div p, .body .blog-box img, .add-button img{
  transition: all 0.1s ease-out;
}

.body .blog-box div p:hover, .body .blog-box img:hover{
  color: blue;
  transform: scale(1.05);
}

.add-button img:hover{
  transform: scale(1.05);
  transform: translateX(-5px);
  box-shadow: 5px 5px 2px blue;
}

.body .add-button  {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.body .add-button  img {
  width: clamp(50px, 10vw, 100px);
  margin: 0 7vw 7vw 0;
}



