
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');
@import url("./global.css");
@import url("./navbar.css");
@import url("./media-screen.css");
@import url("./dashboard-aside.css");

.line-w {
  width: 150px;
  margin: 0px auto 40px auto;
  height: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

/*     main section     */

main {
  margin-top: 56px;
  width: 100%;
  min-height: calc(100vh - 56px);
}

@media screen and ( min-width: 768px) {
    main{
        padding-left: 300px;
    }
}

/* body section */
.title h4{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.fetch-status{
  display: none;
  width: 1fr;
  height: 32px;
  margin: 3vw 7vw;
  background: rgb(27, 134, 6);
  border-radius: 5px;
}

.fetch-status p{
  width: 100%;
  text-align: center;
  line-height: 32px;
}

.query-container{
    display: flex;
    flex-flow: column nowrap !important;
    width: 1fr;
    margin: 3vw 7vw;
    padding: 1rem 1.5rem;
    background: #465058;
    text-align: left;
}

.query-name {
    padding: 5px 10px;
    background: #222733;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.5rem;
    color: #C4C4C4;
    display: static !important;
}

.query-email {
    padding: 5px 10px;
    background: #222733;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2rem;
    color: #C4C4C4;
    display: static !important;
}

.query-description{
    padding: 5px 10px;
    background: #222733;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2rem;
    color: #C4C4C4;
    text-align: left;
    display: static !important;
}

.query-date{
    text-align: right;
    color: #000000;
}
.query-location{
    color: #000000;
}