@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: auto;
  background: #222733;
  font-family: 'poppins', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 10px 0;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 10px 0;
  font-weight: normal;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin: 10px 0;
  font-weight: normal;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 10px 0;
  font-weight: normal;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin: 10px 0;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  line-height: 1.125rem;
  margin: 10px 0;
  font-weight: normal;
}

p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 10px 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: normal;
}

ul{
    list-style-type: none;
}

input{
    outline: none;
    border: none;
}

.container{
    margin: 56px 7%;
    /* height: 1655px; */
    height: auto;
}

/*    navigation bar     */

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0 7%;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 56px;
    background: rgba(82, 94, 101, 1);
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: auto;
}

nav ul li {
    margin: 0 0 0 2vw;
}


.line-w{
    width: calc( 100vw - 20vw );
    height: 10px;
    border-radius: 10px;
    background-color: #C4C4C4; 
}

@media screen and ( max-width : 320px) {
    nav{
        padding: 0 3%;
    }
}

/*    main section    */

main{
    padding-bottom: 40px;
}

main > h1{
    margin-top: 4vw;
}

main > h5{
    text-align: right;
    margin-bottom: 50px;
}

main div{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main div img{
    max-width: 40vw;
    border-radius: 10px;
    margin: 40px 0;
}

main div p{
    width: 40vw;
    margin: 0 0 20px 40px;
    line-height: 1.5rem;
}

@media screen and (max-width : 712px) {
    main div img{
        max-width: 100%;
    }

    main div p{
        width: 80vw;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
  body,
  html {
    font-size: 97% !important;
  }
}

@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 95% !important;
  }
}

@media screen and (max-width: 714px) {
  body,
  html {
    font-size: 90% !important;
  }

  main .titleBox {
    width: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-width: 425px) {
  body,
  html {
    font-size: 85% !important;
  }
}

@media screen and (max-width: 375px) {
  body,
  html {
    font-size: 67% !important;
  }
}

@media screen and (max-width: 320px) {
  body,
  html {
    font-size: 60% !important;
  }
}