@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');
@import url('./global.css');
@import url('./navbar.css');
@import url('./media-screen.css');

/*  main section   */

main {
  margin-top: 56px;
  padding: 0 20px;
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
}

/*    lefts-side styling     */

main > div {
  width: 50%;
  text-align: center;
  margin: auto auto;
}

main > div h1{
  font-size: clamp(36px, 6.5vw, 64px);
}


.line-w {
  width: 100%;
  max-width: clamp(260px, 50.5vw, 405px);
  height: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
  margin: 0 auto;
  box-shadow: 0px  1px 2px blue;
}

/*   right-side  styling    */

main form {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.22);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form > * {
  width: 100%;
  max-width: 365px;
}

form div {
  height: auto;
  margin: 10px 0;
}

form div h5 {
  margin: 5px 0;
  padding: 0px;
  font-weight: 200;
  font-size: 14px;
}

form div input {
  width: 100%;
  height: 35px;
  margin: 5px 0;
  background: #e8f0fe;
  border-radius: 5px;
  padding: 10px;
}

form button {
  height: 45px;
  width: 100%;
  background: #e8f0fe;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

form button h5 a {
  color: black;
}

/*    validation class */

#email-validator , #password-validator, #username-validator, #general-validator{
  display: none;
  text-align: center;
  color: rgb(158, 55, 8);
  width: 100%;
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

#general-validator {
  margin-bottom: 5px;
  display: block;
}

.loading {
  color: rgb(48, 192, 48) !important;
  display: block !important;
}

@media screen and (max-width: 500px) {
  main {
    flex-flow: column nowrap;
    overflow: visible;
    padding: 0;
  }

  main > div {
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  }

  main form {
    width: 100%;
    height: 1fr;
  }

  /* .line-w {
    width: 100%;
  } */
}
